.header {
  text-align: center;
}

.name {
  font-size: 2.5rem;
  color: #044cf4;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 100;
  cursor: default;
  color: black;
}

p {
  color: black;
  font-size: 14px;
}

p a {
  color: #777;
  font-weight: bold;
  text-decoration: none;
}