.header {
  text-align: center;
}

.name {
  font-size: 2rem;
  color: #044cf4;
  margin-bottom: 1rem;
}

.name_area{
  color: black;
  cursor: default;
  font-size: 1rem;
  font-weight: 500
}

p {
  color: black;
  font-size: 14px;
}

p a {
  color: #777;
  font-weight: bold;
  text-decoration: none;
}